 /* パソコン用CSS */
@media screen and (min-width: 769px){
       h1{
            margin-top:5%;
            margin-bottom:0%;
            color: #ffffff;
            font-size: 4em;
            font-weight: bold;
            text-shadow:
            0 2px 0 #000,
            2px 0 0 #000,
            0 -2px 0 #000,
            -2px 0 0 #000,
            -2px -2px 0 #000,
            2px -2px 0 #000,
            -2px 2px 0 #000,
            2px 2px 0 #000;
            text-align: center;
            font-family: "Trebuchet MS", sans-serif; 
        }
        h2{
            margin-top:5%;
            margin-bottom:5%;
            color: #ffffff;
            font-size: 3em;
            font-weight: bold;
            text-shadow:
            0 1px 0 #000,
            1px 0 0 #000,
            0 -1px 0 #000,
            -1px 0 0 #000,
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
            text-align: center;
            font-family: "Trebuchet MS", sans-serif; 
        }
        header{
            background-color: #8a9b0f;
        }
        body{
            position: relative;
            margin: 0;
            width: 100%;
            background:linear-gradient(#CC6699,#4bc0c8);
        }
        table{
            text-align: center; 
            width: 90%;         
            margin:50px 0 0 0;
            font-size: 20px;
        }
        th{
            background-color:#dcdcdc; 
        }
        td{
            background-color:#ffffff;
        }
        a{
            color: #fff;
            font-family: "Trebuchet MS", sans-serif; 
        }
        img[usemap]{
            height: auto;
            max-width: 90%;
            width:auto;
        }
        #map1{
            width: 95%;
            margin-left: 5%;
            margin-right: 0%;
        }
        #map2{
            float: right;
            width: 30%;
            margin-left: 0%;
            margin-right: 15%;
        }
        #explain{
            overflow: hidden;
            padding-top: 0%;
            padding-left: 0%;
            padding-bottom: 0%;
        }
        #explain p{
            width: 30%;
            margin-top: 0;
            margin-left: 20%;
            color: #ffffff;
            background-color: #474655;
            text-align: left;
            font-family: "Trebuchet MS", sans-serif;
            font-size: 1.2em;
        }

    .openBtn{
        cursor: pointer;
        margin-top: 3%;
        margin-left: 5%;
        margin-right: 5%;
        padding: 5px;
        border: none;
        border-left: 10px solid #C97556;
        background-color: #474655;
        color: #ffffff;
        font-family: "Trebuchet MS", sans-serif;
        font-size: 1.2em;
        }
    .openBtn_i{
        cursor: pointer;
        margin-top: 3%;
        margin-left: 5%;
        margin-right: 0%;
        padding: 5px;
        border: none;
        border-left: 10px solid #3366CC;
        background-color: #474655;
        color: #ffffff;
        font-family: "Trebuchet MS", sans-serif;
        font-size: 1.2em;
        }
    .openBtn:hover {
        opacity: 0.7;
    }
    .textArea {
        display: none;
        padding-left: 5%;
        padding-right: 5%;
    }

    #menu{
        margin-bottom: 10%;
    }
 .hm_menu_check {/* チェックボックスを隠す */
        display: none;
    }
    .hm_wrap {
        display: none;
    }
.faColor {
    color: #9FD6D2;
}
#dropmenu{
    list-style-type: none;
    width: 100%;
    top: 0px;
    height: 40px;
    margin: 0px;
    padding: 0;
    background: #8a9b0f;
    border-bottom: 5px solid #535d09;
    border-radius: 3px 3px 0 0;
}
#dropmenu li{
    position: relative;
    width: calc(100%/3);
    float: left;
    margin: 0;
    padding: 0;
    text-align: center;
}
#dropmenu li a{
    display: block;
    margin: 0;
    padding: 15px 0 11px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    line-height: 1;
    text-decoration: none;
}
#dropmenu li:hover > a{
    background: #6e7c0c;
    color: #eff7b1;
}
#dropmenu > li:hover > a{
    border-radius: 3px 3px 0 0;
}
#dropmenu li ul{
    list-style: none;
    position: absolute;
    top: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    border-radius: 0 0 3px 3px;
}
#dropmenu li:last-child ul{
    width: 100%;
}
#dropmenu li ul li{
    overflow: hidden;
    width: 100%;
    height: 0;
    color: #fff;
    -moz-transition: .2s;
    -webkit-transition: .2s;
    -o-transition: .2s;
    -ms-transition: .2s;
    transition: .2s;
}
#dropmenu li ul li a{
    padding: 13px 15px;
    background: #6e7c0c;
    text-align: left;
    font-size: 16px;
    font-weight: normal;
}
#dropmenu li:hover ul li{
    overflow: visible;
    height: 38px;
    border-top: 1px solid #7c8c0e;
    border-bottom: 1px solid #616d0b;
}
#dropmenu li:hover ul li:first-child{
    border-top: 0;
}
#dropmenu li:hover ul li:last-child{
    border-bottom: 0;
}
#dropmenu li:hover ul li:last-child a{
    border-radius: 0 0 3px 3px;
}
#dropmenu ul {
    visibility: hidden;
    perspective: 400px;
}
#dropmenu li:hover ul{
    visibility: visible;
}
#dropmenu ul li{
    transform: rotateX(-90deg);
    transform-origin: 50% 0;
    transition: .1s;
}
#dropmenu li:hover ul li{
    transform: rotateX(0);
}
#dropmenu li:hover ul li:nth-child(1) {
    transition-delay: 0s;
}
#dropmenu li:hover ul li:nth-child(2) {
    transition-delay: .1s;
}
#dropmenu li:hover ul li:nth-child(3) {
    transition-delay: .2s;
}
#dropmenu li:hover ul li:nth-child(4) {
    transition-delay: .3s;
}
#dropmenu li ul li:nth-last-of-type(1) {
    transition-delay: 0s;
}
#dropmenu li ul li:nth-last-of-type(2) {
    transition-delay: .1s;
}
#dropmenu li ul li:nth-last-of-type(3) {
    transition-delay: .2s;
}
#dropmenu li ul li:nth-last-of-type(4) {
    transition-delay: .3s;
}
/* サイトマップ */
#sitemap{
    font-family: "Yu Gothic UI","Meiryo UI","ƒqƒ‰ƒMƒmŠpƒS Pro W3", sans-serif;
    position: relative;
    padding-top: 3%;
    padding-right: 0%;
    padding-bottom: 3%;
    padding-left: 0%;
    background-color: #2F2F2F;
}
/* サイトマップのリンクの書式 */
#sitemap_l{
    font-size: 18px;
    margin-bottom: 1%;
    margin-top: 1%;
      text-decoration: none;
      color: white;
      transition: 0.5s;
}
#sitemap_l:hover {
  color: orange;
}

/* サイトマップのリンク群 */
#link{
    margin-left: 5%;
    margin-right: 5%;
}
/* サイトマップの画像 */
#imag_area{
    position: absolute;
    left: 65%;
    bottom: 0%;
    margin-right: 10%;
    margin-bottom: 5%;
}
#imgs{
    width:auto;
    height:auto;
    max-width:100%;
    max-height:100%;
}
/* サイトマップの見出し */
#sitemap_h{
    font-size: 2.0em;
    color: white;
}
#footer {
    text-align: center;
    font-size: 18px;
    font-family: "Yu Gothic UI","Meiryo UI","ƒqƒ‰ƒMƒmŠpƒS Pro W3", sans-serif;
    color: #fff;
    background-color: #2F2F2F;

    margin-top: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
}
}